</div>
    <div>
    <label class="form-label">Hora del evento:</label>
    <input name="evento_hora" type="number" class="form-control" value="<%= evento.hora %>"/>
    <input name="evento_hora" type="datetime-local" class="form-control" value="<%= evento.hora %>"/>
</div>
<div>
    <label class="form-label">Ubicación del evento:</label>