<!DOCTYPE html>
<html>
    <head>
        <title>Sports Heaven</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/icons/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header') %>
        <div class="container">
            <% switch (error) {
                case '0' : %>
                <div class="alert alert-danger" role="alert">
                    <center><h4 class="alert-heading mb-3">Credenciales Incorrectas</h4>
                    <a href="/login" class="btn btn-danger">Inténtelo de nuevo</a></center>
                  </div>
                        <% break;
                case '1' : %>
                <div class="alert alert-danger" role="alert">
                    <center><h4 class="alert-heading mb-3">No se encontró el usuario</h4>
                    <a href="/registro" class="btn btn-danger">Crear Cuenta</a></center>
                  </div>
                        <% break;
                default : %>
                <div class="alert alert-danger" role="alert">
                    <center><h4 class="alert-heading mb-3">Error de inicio de sesión</h4>
                    <a href="/login" class="btn btn-danger">Inténtelo de nuevo</a></center>
                  </div>
                        <% break;
                } %>
        </div>
        <%- include('footer')%>
    </body>
</html>