<!DOCTYPE html>
<html>
    <head>
        <title>Sports Heaven</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/icons/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="">
        <%- include('header') %>

    <form method="post" class="container"  action="/login">
        <center><h1>Iniciar Sesión</h1></center>
        <div class="mb-3">
            <div  class="form-check">
              <input value="profe" class="form-check-input" type="radio" name="nrol" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Profesor
              </label>
            </div>
            <div class="form-check">
              <input value="alumno" class="form-check-input" type="radio" name="nrol" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Alumno
              </label>
            </div>
          </div>
        <div class="mb-3 mt-3" >
            <label class="form-label">Correo electrónico:</label>
            <input type="text" class="form-control" name='correoU' required>
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña:</label>
            <input type="password" class="form-control" name='passwordU' required>
        </div>
        <center><button type="submit" class="btn btn-dark">INGRESAR</button></center>
        <a href="/registro">¿Aún no tienes cuenta? Registrate aquí!</a>
    </form>
    

    
        <%- include('footer')%>
    </body>
</html>