<!DOCTYPE html>
<html>
    <head>
        <title>Sports Heaven</title>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/imagenes/logo.png" />
        <link rel="stylesheet" href="/css/index.css" type="text/css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body >
        <%- include('header')  %>
        <div class="container">
        <h2>Registrarse ahora</h2>
        <p>Por favor regístrate para entrar a la aplicación</p>
        <form method="post" action="/registro">
          <div class="mb-3">
            <div  class="form-check">
                <input value="profe" class="form-check-input" type="radio" name="nrol" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Profesor
                </label>
              </div>
            <div class="form-check">
                <input value="alumno" class="form-check-input" type="radio" name="nrol" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Alumno
                </label>
              </div>
            </div>
        <div class="mb-3">
          <label  class="form-label">Correo electrónico</label>
          <input type="text" class="form-control" placeholder="Ingrese su correo electrónico"
          name="ncorreo" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre completo</label>
            <input type="text" class="form-control" placeholder="Ingrese su nombre completo"
            name="nnombre">
          </div>
        <div class="mb-3">
            <label class="form-label">Apellidos</label>
            <input type="text" class="form-control" placeholder="Ingrese sus apellidos"
            name="napellido">
          </div>
        <div class="mb-3">
            <label class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" 
            name="nfecha" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="password" class="form-control" 
          name="ncontra" required>
          <div class="form-text">La contraseña debe tener mínimo 8 caractéres</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" 
            name="ncontra2" required>
          </div>
         <div class="mb-3">
            <label for="formFile" class="form-label">Subir foto de perfil</label>
            <input class="form-control" type="file">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input">
          <label class="form-check-label">He leído y acepto lo términos y condiciones</label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto"><button type="submit" class="btn btn-dark ">Regístrate</button></div>
      </form>
    </div>
    <%- include('footer') %>
  </body>
  </html>

